In [8]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from tqdm.auto import tqdm #Progress Bars
from datetime import datetime
from collections import defaultdict
warnings.filterwarnings(action="ignore")
%config IPCompleter.greedy=True
#use magic command %pip install ...
import json

In [11]:
f = open('../input/contacts.json')

In [12]:
data = json.load(f)

In [14]:
count = 0
for i in data:
    count += 1
    print(i)
    print(type(i))
    if count == 10:
        break

{'Id': 0, 'Email': 'gkzAbIy@qq.com', 'Phone': '', 'Contacts': 1, 'OrderId': ''}
<class 'dict'>
{'Id': 1, 'Email': '', 'Phone': '329442681752', 'Contacts': 4, 'OrderId': 'vDDJJcxfLtSfkooPhbYnJdxov'}
<class 'dict'>
{'Id': 2, 'Email': '', 'Phone': '9125983679', 'Contacts': 0, 'OrderId': ''}
<class 'dict'>
{'Id': 3, 'Email': 'mdllpYmE@gmail.com', 'Phone': '', 'Contacts': 0, 'OrderId': 'bHquEnCbbsGLqllwryxPsNOxa'}
<class 'dict'>
{'Id': 4, 'Email': '', 'Phone': '300364407', 'Contacts': 2, 'OrderId': ''}
<class 'dict'>
{'Id': 5, 'Email': '', 'Phone': '840113148', 'Contacts': 0, 'OrderId': ''}
<class 'dict'>
{'Id': 6, 'Email': 'hESiBgYTxMnj@hotmail.com', 'Phone': '', 'Contacts': 4, 'OrderId': ''}
<class 'dict'>
{'Id': 7, 'Email': 'hqyunTiaXfIjhO@yahoo.com', 'Phone': '', 'Contacts': 1, 'OrderId': 'vxjYZtMUvNhtEBDruzQfjpsmX'}
<class 'dict'>
{'Id': 8, 'Email': 'XGUjcSiDpFKWEUCs@qq.com', 'Phone': '223604620644', 'Contacts': 2, 'OrderId': ''}
<class 'dict'>
{'Id': 9, 'Email': 'osIIQgAiZX@hotmail.com', 'Phone': '', 'Contacts': 0, 'OrderId': 'IqewrMXVTJqSsVklWFfOpdRNI'}
<class 'dict'>

In [15]:
out = []
for file in data:
    tree = ET.parse(file)
    root = tree.getroot()
    result = f(root, result)
    out.append(result)

df = pd.DataFram(out)

NameError: name 'ET' is not defined

In [5]:
df = pd.read_csv("../input/data.csv")
print(df.shape)
df.head()

(222750, 4)

          orderid     shopid     userid           event_time
0  31076582227611   93950878   30530270  2019-12-27 00:23:03
1  31118059853484  156423439   46057927  2019-12-27 11:54:20
2  31123355095755  173699291   67341739  2019-12-27 13:22:35
3  31122059872723   63674025  149380322  2019-12-27 13:01:00
4  31117075665123  127249066  149493217  2019-12-27 11:37:55

In [6]:
%run ../scripts/basic_data.py
var = ntuples(df)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  object
dtypes: int64(3), object(1)
memory usage: 6.8+ MB